# fly.toml app configuration file generated for cyberpunk-terminal-frost on 2025-12-08T01:18:26-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'cyberpunk-terminal-frost'
primary_region = 'dfw'

[build]
  image = "python:3.11"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[deploy]
  release_command = "uvicorn app.main:app --host 0.0.0.0 --port 8080"